.search-input-field {
    background-color: #5b6e74;
    border-radius: 10px;
    border: 1px solid #6b8192;
    padding: 20px;
    width: 200px;
    height: 100px;
}

.search-submit {
    background-color: #24282b    ;
}